section
{
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    background-color: red;
}
article
{
    border: 2px inset green;
    margin: 100px 20px 60px;
}
aside
{
    border: 2px inset black;
    margin: auto;
}